$color-main: #2c3e50;
$color-theme: rgba(227, 133, 24, 0.938813);
$color-extra: #56ab2f;
$color-skills: #66e92e;

$font-title: 'Dancing Script', cursive;
$font-categories:  'Montserrat', sans-serif;
/*$gradient: linear-gradient(90deg, $color-extra 0%, $color-theme 100%);*/
/*$gradient: linear-gradient(90deg, rgba(36,24,0,1) 0%, rgba(121,41,9,1) 32%, rgba(255,252,0,0.938813025210084) 100%);
*/
/*$gradient: linear-gradient(to right, #a3795f 50%, #012754);*/
$gradient: linear-gradient(90deg, rgba(35,36,0,1) 0%, rgba(106,77,34,1) 32%, rgba(227,133,24,0.938813025210084) 100%);
